.home{
    .logo{
        font-family: 'Exo', sans-serif;
    }
    header{
        width: 96vw;
        margin: 0 auto;
    }
    .wellcome{
        height: 60vh;
        display: flex;
        align-items:center;
        flex-direction: column;
        justify-content: center;
        width: 96vw;
        margin: 0 auto;        &_title{
            text-align: center;
            font-family: Oswald,sans-serif;
            h1{
                color: var(--primary);
                font-size: 76px;
                margin-bottom: -20px;
            }
            p{
                font-size: 26px;
                font-weight: 400;
                color: var(--primary-weak);
            }
        }
    }
}