@keyframes fishSwimFromLeft {
    0%, 100% {
        transform: translateX(0) rotateY(180deg);
    }
    10%{
        transform: translateX(10vw) rotateY(0);
    }
    25% {
        transform: translateX(20vw) rotateY(0);
    }
    50% {
        transform: translateX(45vw) rotateY(0);
    }
    65%{
        transform: translateX(80vw) rotateY(0);
    }
    75% {
        transform: translateX(90vw) rotateY(180deg);
    }
}

@keyframes fishSwimFromLeftQuarter {
    0%, 100% {
        transform: translateX(0) rotateY(180deg);
    }
    25% {
        transform: translateX(10vw) rotateY(0);
    }
    50% {
        transform: translateX(25vw) rotateY(0);
    }
    65%{
        transform: translateX(30vw) rotateY(0);
    }
    75% {
        transform: translateX(40vw) rotateY(180deg);
    }
}

@keyframes fishSwimFromRight {
    0%, 100% {
        transform: translateX(0) rotateY(180deg);
    }
    25% {
        transform: translateX(-20vw) rotateY(0);
    }
    50% {
        transform: translateX(-45vw) rotateY(0);
    }
    65% {
        transform: translateX(-80vw) rotateY(0);
    }
    75% {
        transform: translateX(-90vw) rotateY(180deg);
    }
}

@keyframes fishSwimFromRightQuarter {
    0%, 100% {
        transform: translateX(0) rotateY(180deg);
    }
    25% {
        transform: translateX(10vw) rotateY(0);
    }
    50% {
        transform: translateX(-20vw) rotateY(0);
    }
    65% {
        transform: translateX(-30vw) rotateY(0);
    }
    75% {
        transform: translateX(-40vw) rotateY(180deg);
    }
}


@keyframes fishSwimToTop {
    0%, 100% {
        transform: translate(0);
    }
    25% {
        transform: translate(100px, -100px) ;
    }
    50% {
        transform: translate(150px, -150px);
    }
    65% {
        transform: translate(200px, -200px) ;
    }
    75% {
        transform: translate(300px, -300px);
    }
}

@keyframes fishSwimToBottom {
    0%, 100% {
        transform: translate(0);
    }
    25% {
        transform: translate(100px, 100px) ;
    }
    50% {
        transform: translate(150px, 150px);
    }
    65% {
        transform: translate(200px, 200px) ;
    }
    75% {
        transform: translate(300px, 300px);
    }
}



